.Towns { 
    display: none; 
     
} 
.alive.Towns { 
    display: inline-block; 
} 
table{
    width:400px;
    margin:0 auto;
}
table tr td{
    border:1px solid silver;
}
.box {
    width:400px;
    margin:0 auto;
}